*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'josefin Sans', sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    width: 100%;
    height: 15vh;
    background: rgba(0,0,0,0.2);
    color: #00b894;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

nav .logo{
    width: 25%;
    text-align: center;
    /*background: red;*/
}

nav .menu{
    width: 40%;
    display: flex;
    justify-content: space-around;

}

nav .menu a {
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav .menu a:hover{
    text-decoration: underline;
}

nav .menu a:first-child {
    color: #00b894;
}

a{
    color: white;
}
b {
    color: #00b894;
}

.container{
    display: flex;
}

.body{
    display: flex;
    justify-content:center ;
    height: 100vh;
    align-items: center;
    background: whitesmoke;
}

.card{
    height: 400px;
    width: 300px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
img{
    height: 400px;
    width: 210px;
    border-radius: 3px;
    transition: .5s;
}

.intro{
    height: 70px;
    width: 205px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    background: rgb(27, 27, .5, .5);
    color: white;
    bottom: 185px;
   
}

h1{
    margin: 10px;
    font-size: 40px;
}

p{
    font-size: 14px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
    color: white;
}

span{
    font-weight: bold;
    text-align: center;
}

 .card:hover{
    cursor: pointer;
 }

 .card:hover .intro{
    height: 200px;
    bottom: 250px;
 }

 .card:hover p{
    opacity: 1;
    visibility: visible;
 }

 .card:hover img{
    transform: scale(1.1) rotate(-3deg);
 }